# Output
.output
.vercel
/.svelte-kit
/build

# Dependencies
node_modules
#*.config.js
#*.config.ts
#tsconfig.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
