@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap");

@font-face {
  font-family: "Dollar Bill";
  src: url("./fonts/Dollar\ Bill.ttf");
}

:root {
  font-size: 18px;
  font-family: "Rajdhani", sans-serif;
  --green: rgb(0, 150, 0);
  --red: rgb(150, 0, 0);
  --grey: rgb(150, 150, 150);
}

body {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
  width: 85vw;
  max-width: 1200px;
  margin: auto;
}

input,
select {
  font-size: 1em;
  font-family: inherit;
  outline: none;
}

input {
  border-radius: 0;
  --webkit-appearance: none;
  --webkit-border-radius: 0px;
}

header,
footer {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-family: "Dollar Bill";
}

a {
  color: var(--green);
}

a:visited {
  color: var(--green);
}
